html body {
  /* setting universal font size */
  font-size: 1rem;
  background: linear-gradient(180deg, #6f4e37, black) fixed;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
}

#title {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
}

#description {
  text-align: center;
  width: 70%;
  padding: 50px 50px 1px 50px;
  line-height: 1.5rem;
  font-style: italic;
  margin: auto;
  
}

#coffee-pic {
  display: block;
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

}

@keyframes bounce {
  0% {
    left: -600px;
    opacity: 0;
  }
  100% {left: 0px;
    opacity: 1;
  }
}




#form-inner {
  background: #6f373cef;
  width: 80%;
  margin: auto;
  border-radius:  25px;
  
  
}

.title-inner {
text-align: center;

}

.field-row {


}

.name-field {
display: inline-block;
text-align: right;
font-size: 1.5rem;
padding: 10px 10px 10px 10px;
width: 40%;
vertical-align: top;
animation-name: bounce;
animation-duration: 10s;
animation-iteration-count: 1;
animation-timing-function: linear;
}

.input-field {
display: inline-block;
text-align: left;
padding: 10px 10px 10px 10px;
width: 40%;
vertical-align: center;
animation-name: bounce;
animation-duration: 10s;
animation-iteration-count: 1;
animation-timing-function: linear;
}
